{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='graph.css') }}">
<script src="https://marvl.infotech.monash.edu/webcola/cola.js"></script>


<script src="../static/scripts/cytoscape.min.js"></script>
<script src="../static/scripts/cytoscape-cola.js"></script>
<script src="../static/scripts/cytoscape-euler.js"></script>
<script src="../static/scripts/cytoscape-popper.js"></script>

<script>var nodes = JSON.parse('{{nodes | tojson}}');
    var edges = JSON.parse('{{edges | tojson}}');
    </script>

<!-- For loading external data files -->
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise,fetch"></script>
<div class="container justify-center" style="width:100%;">
    <div class="row justify-content-md-center ">
        <h1>Graph</h1>
    </div>
    <div class="row justify-content-md-center ">
        <div class="btn-group" role="group" aria-label="Basic example" style="padding: 10px;">
            <button type="button" class="btn btn-secondary" onclick="setColaLayout();">Cola</button>
            <button type="button" class="btn btn-secondary" onclick="setEulerLayout();">Euler</button>
            <button type="button" class="btn btn-secondary" onclick="setGridLayout();">Grid</button>
          </div>
    </div>
 
</div>
    <div class="graph" id="cy">

    </div>
    <script src="../static/scripts/graph.js"></script>     
                <!-- <h1 class="display-4">Fluid jumbotron</h1> -->
                <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
                
            
    

{% endblock content %}