

#cy {
    width: 100%;
    height: 1000px;
    display: block;
    
    border-radius: 25px;
      
      
      float: left;
      background-opacity:0;
      position: absolute;
    
  }

.container .jumbotron {
  background-opacity:0!important;
    border-radius: 25px !important;
}

