body {
  background:#00bbff;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

input {
  border:"rgba(0,0,0,0)"; 
  padding:15;
  
}

.justify-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 10px;
  padding: 5px;
}

.vertical-center {

  display: flex;
  align-items: center;
}

